*{
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}


  .menu1 {
    display: flex;
    justify-content:flex-end;
    padding-top: 15px;
    padding-right: 15px;
    height: 60px;
    list-style: none;
  
  }
    
  a {
      font-size: 16px;
      color: #777;
      text-decoration: none;
      text-transform: uppercase;
    }
    a:hover {
      color: #d94f5c;
      text-decoration: underline;
  
    }