*{
    box-sizing: border-box;
  }


  body{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
  }

.container{
    width: 100%;
    height: 80vh;
    background-image: url(../img/pexels-madhu-shesharam-9579434.jpg);
    background-size: cover;
    background-position-y: bottom;
}

.presentation h2{
    width: 30%;
    padding-top:250px ;
    color: aliceblue;
    text-align: right;
    font-weight: bold;
    margin-left:55.5%;
    text-transform: uppercase;

}
.presentation p{
    width: 15%;
    padding: 10px;
    color: aliceblue;
    text-align: right;
    margin-left:71%;
}
.presentation a {
    font-size: 10px;
    color: aliceblue;
    margin-left: 82%;
    text-align: right;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;

  }
.presentation a:hover {
    color: #614e64;
    text-decoration: underline;

}
.catin{
    width: 1170px;
    height: 65vh;
    margin: auto;
    margin-top: 15%;
}
.monstura, .wild, .cactus {
    float: left;
    margin: 15px;
}
.monstura img, .wild img, .cactus img {
    width: 360px;
    height: 320px;
    float: left;
    object-fit: cover;
    border: rgb(255, 255, 255) 20px solid;
}
.catin p {
    font-size: 20px;
    text-align: center;
    color: rgb(25, 25, 26);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}
.nature{
    width: 100%;
    height: 45vh;
    background-color: #1a1a1a;
}
.nature h2{
    width: 100%;
    padding-top: 150px;
    color: aliceblue;
    font-size: xx-large;
    font-weight: bold;
    text-transform: uppercase;
}
.centre{
    width: 1170px;
    margin:auto;
}
.centre p{
    width:100%;
    padding-top: 15px;
    color: aliceblue;
    font-size: 18px;
    line-height:30px;
    font-weight: normal;
}
.centre a {
    font-size: 10px;
    padding-top: 15px;
    margin-left: 90%;
    color: aliceblue;
    text-align: right;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;

  }
.centre a:hover {
    color: #614e64;
    text-decoration: underline;

}

.beach{
    position: absolute;
    width: 100%;
    height: 80vh;
    background-color: #1a1a1a;
}
.salope{
    width:20%;
    height: 200px;
    position: relative;
    top:300px;
    text-align: justify;
    margin-left: 62%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    background-color: aliceblue;    
    color: rgb(51, 51, 51);
    font-size: 18px;
    font-weight: normal;
    line-height:25px;
}
.salope h2{
    font-size: 18px;
    color: rgb(58, 58, 58);
    font-weight: bold;
    text-transform: uppercase;

}
.putain{
    width: 1140px;
    height: 60vh;
    position: relative;
    margin-left: 20%;
}
.meredeputain img {
    width: 400px;
    height: 370px;
    float: left;
    margin-top: 23%;
    
}
.peredeputain img{
    width: 250px;
    height:250px;
    float: left;
    object-fit: cover;
    margin-left: -22%;

}
.soeurdeputain img{
    width: 510px;
    height: 480px;
    float: left;
    object-fit: cover;
    margin-left: 2%;
    
}
.salope2{
    width:25%;
    height: 200px;
    position: relative;
    text-align: justify;
    margin-left: 40%;
    color: aliceblue;
    font-size: 18px;
    font-weight: normal;
    line-height:20px;
}

